<div class="row">
    <div class="col s12 m7">
        <div class="card">
            <span class="card-title">Profile Page</span>
            <div class="card-action">
                <div class="card-text">
                    <p appChangeBackground appChangeBackColorOnHover><strong>Hello </strong>{{currenUserNameByEmail}}</p>
                    <p appChangeBackground appChangeBackColorOnHover><strong>Your Email Address is: </strong>{{currentUser.email}}</p>
                    <p appChangeBackground><strong>Your User ID is: </strong>{{currentUser.uid}}</p>
                </div>
                <strong><a routerLink="/gallery" routerLinkActive="active">Go To gallery</a></strong>
            </div>
        </div>
    </div>
</div>