<div class="row">
    <div class="col s12 m7">
        <div class="card">
            <span class="card-title">About Page</span>
            <div class="card-action">
                <div class="card-content">
                    <img class="caution" [src]="cautionPath">
                    <p>The application main purpose is to let users share images and photographies through easy to use graphical interface.</p>
                    <p>Please use the application cautiously!</p>
                    <p>Keep in mind all imagery containing nudity and disrespectful content will be removed imediatly!</p>
                </div>
            </div>
        </div>
    </div>
</div>