@{
    ViewBag.Title = "Contact";
}
<h3>Contacts</h3>
<h3>You Can Reach Me At: </h3>

@section contacts{
    <address>
       Sofia<br />
        Mladost 1A<br />
    </address>
    <address>
        <strong>Email:</strong><a href="mailto:shopov91@gmail.com"> shopov91@gmail.com</a><br />
        <strong>Phone:</strong> <a href="mailto:google.com"> unknown</a>
    </address>
}