<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Quick Actions</h5>
                <p class="grey-text text-lighten-4">For the full functionality of the gallery app, please log in to your account, if you don't have a account please create one.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" [routerLink]="[ '/home' ]">Go Home</a></li>
                    <li><a class="grey-text text-lighten-3" [routerLink]="[ '/gallery' ]">Gallery</a></li>
                    <li><a class="grey-text text-lighten-3" [routerLink]="[ '/user/login' ]">Log In</a></li>
                    <li><a class="grey-text text-lighten-3" [routerLink]="[ '/user/signup' ]">Create Account</a></li>
                    <li><a class="grey-text text-lighten-3" [routerLink]="[ '/home/about' ]">About</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017 Angular Team Project
        </div>
    </div>
</footer>