<div class="row">
    <div class="col s12 m7">
        <div class="card">
            <span class="card-title">Gallery</span>
            <div class="card-image">
                <ul>
                    <li *ngFor="let image of images | async" class="img">
                        <a [routerLink]="['/gallery/image', image.$key]">
                            <img src="{{image.url}}">
                        </a>
                        <div class="card-content">
                            <p>{{image.uploadedBy | uploadedBy}}</p>
                            <p>{{image.uploadedOn | date:'medium' | uploadedOn}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>