<div class="row">
    <div class="col s12 m7">
        <div class="card">
            <span class="card-title">Welcome to the Gallery Home Page</span>
            <div class="card-image">
                <a [routerLink]="[ '/gallery' ]"><img class="wall" [src]="wallPath"></a>
            </div>
            <div class="card-action">
                <p class="card-text">To Use The Full Functionality Please</p>
                <strong><a routerLink="/user/login" routerLinkActive="active" class="login-link">Log In To Your Account</a></strong>
            </div>
        </div>
        <h6>
            <a [routerLink]="[ '/user/signup' ]" routerLinkActive="active" class="signin-link">No Account? <strong>Create One Here</strong></a>
        </h6>
    </div>
</div>